
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dde4f5;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-font{
  font-size: 2rem;
}

.navi-color{
  background-color: #192A53;
}

.red-color{
  background-color: #F8263A;
}

.check-in-input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
}

.nav-border-bottom {
  border-bottom: 5px solid #F8263A;
  outline: none;
}

.header-border-bottom {
  border-bottom: 20px solid #192A53;
  outline: none;
}
